---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: docs

"on":
  push:
    branches:
      - master

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        id: source
        uses: actions/checkout@v5

      - name: Setup hugo
        id: hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: latest
          extended: true

      - name: Run docs
        id: docs
        run: make docs

      - name: Deploy pages
        id: deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/public/

...
